// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2.2.0.97.3
// Netlist written on Mon Apr 19 01:13:38 2021
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "/home/es4user/Documents/radiant-designs/cpu_project/source/impl_1/alu.vhd"
// file 1 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_iCE40UP.v"
// file 2 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_iCE40UP.vhd"
// file 3 "/home/es4user/tools/radiant/2.2/ip/common/adder/rtl/lscc_adder.v"
// file 4 "/home/es4user/tools/radiant/2.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 5 "/home/es4user/tools/radiant/2.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 6 "/home/es4user/tools/radiant/2.2/ip/common/counter/rtl/lscc_cntr.v"
// file 7 "/home/es4user/tools/radiant/2.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 8 "/home/es4user/tools/radiant/2.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 9 "/home/es4user/tools/radiant/2.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 10 "/home/es4user/tools/radiant/2.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 11 "/home/es4user/tools/radiant/2.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 12 "/home/es4user/tools/radiant/2.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 13 "/home/es4user/tools/radiant/2.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 14 "/home/es4user/tools/radiant/2.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 15 "/home/es4user/tools/radiant/2.2/ip/common/rom/rtl/lscc_rom.v"
// file 16 "/home/es4user/tools/radiant/2.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 17 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_add.v"
// file 18 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_addsub.v"
// file 19 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_complex_mult.v"
// file 20 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_counter.v"
// file 21 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_dsp.v"
// file 22 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_fifo.v"
// file 23 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_fifo_dc.v"
// file 24 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_mac.v"
// file 25 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_mult.v"
// file 26 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_multaddsub.v"
// file 27 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_multaddsubsum.v"
// file 28 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_ram_dp.v"
// file 29 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_ram_dp_be.v"
// file 30 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_ram_dq.v"
// file 31 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_ram_dq_be.v"
// file 32 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_rom.v"
// file 33 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_sub.v"
// file 34 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/CCU2_B.v"
// file 35 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/FD1P3BZ.v"
// file 36 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/FD1P3DZ.v"
// file 37 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/FD1P3IZ.v"
// file 38 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/FD1P3JZ.v"
// file 39 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/HSOSC.v"
// file 40 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/HSOSC1P8V.v"
// file 41 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/IB.v"
// file 42 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/IFD1P3AZ.v"
// file 43 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/LSOSC.v"
// file 44 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/LSOSC1P8V.v"
// file 45 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/OB.v"
// file 46 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/OBZ_B.v"
// file 47 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/OFD1P3AZ.v"
// file 48 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/PDP4K.v"
// file 49 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/RGB.v"
// file 50 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/RGB1P8V.v"
// file 51 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/SP256K.v"
// file 52 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/legacy.v"

//
// Verilog Description of module alu
//

module alu (input [31:0]srcA, input [31:0]srcB, input [3:0]command, output [31:0]result, 
            output [3:0]flags);   /* synthesis lineinfo="@0(5[8],5[11])"*/
    
    wire GND_net;   /* synthesis lineinfo="@0(17[9],17[26])"*/
    wire flags_c_2;   /* synthesis lineinfo="@0(11[9],11[14])"*/
    wire flags_c_0;   /* synthesis lineinfo="@0(11[9],11[14])"*/
    
    wire srcA_c_31, srcA_c_30, srcA_c_29, srcA_c_28, srcA_c_27, srcA_c_26, 
        srcA_c_25, srcA_c_24, srcA_c_23, srcA_c_22, srcA_c_21, srcA_c_20, 
        srcA_c_19, srcA_c_18, srcA_c_17, srcA_c_16, srcA_c_15, srcA_c_14, 
        srcA_c_13, srcA_c_12, srcA_c_11, srcA_c_10, srcA_c_9, srcA_c_8, 
        srcA_c_7, srcA_c_6, srcA_c_5, srcA_c_4, srcA_c_3, srcA_c_2, 
        srcA_c_1, srcA_c_0, srcB_c_31, srcB_c_30, srcB_c_29, srcB_c_28, 
        srcB_c_27, srcB_c_26, srcB_c_25, srcB_c_24, srcB_c_23, srcB_c_22, 
        srcB_c_21, srcB_c_20, srcB_c_19, srcB_c_18, srcB_c_17, srcB_c_16, 
        srcB_c_15, srcB_c_14, srcB_c_13, srcB_c_12, srcB_c_11, srcB_c_10, 
        srcB_c_9, srcB_c_8, srcB_c_7, srcB_c_6, srcB_c_5, srcB_c_4, 
        srcB_c_3, srcB_c_2, srcB_c_1, srcB_c_0, command_c_3, command_c_2, 
        command_c_1, command_c_0, flags_c, result_c_30, result_c_29, 
        result_c_28, result_c_27, result_c_26, result_c_25, result_c_24, 
        result_c_23, result_c_22, result_c_21, result_c_20, result_c_19, 
        result_c_18, result_c_17, result_c_16, result_c_15, result_c_14, 
        result_c_13, result_c_12, result_c_11, result_c_10, result_c_9, 
        result_c_8, result_c_7, result_c_6, result_c_5, result_c_4, 
        result_c_3, result_c_2, result_c_1, result_c_0, n1201, n15, 
        n15_adj_1, n1106, n1205, n15_adj_2, n1094, n15_adj_3, n1108, 
        n15_adj_4, n1118, n1092, n1197, n15_adj_5, n4, n15_adj_6, 
        n4_adj_7, n1100, n1104, n15_adj_8, n15_adj_9, n1076, n1199, 
        n1080, n15_adj_10, n15_adj_11, n1193, n1217, n15_adj_12, 
        n1124, n15_adj_13, n1078, n4_adj_14, n1219, n1195, n1074, 
        n15_adj_15, n1090, n15_adj_16, n15_adj_17, n15_adj_18, n15_adj_19, 
        n1102, n1110, n1112, n1082, n15_adj_20, n4_adj_21, n4_adj_22, 
        n15_adj_23, n15_adj_24, n15_adj_25, n1298, n15_adj_26, n1203, 
        n1088, n1122, n4_adj_27, n15_adj_28, n1096, n1207, n1086, 
        n15_adj_29, n15_adj_30, n15_adj_31, n1084, n15_adj_32, n15_adj_33, 
        n1114, n1072, n15_adj_34, n1116, n6, n15_adj_35, n15_adj_36, 
        n1120, n1098, VCC_net;
    
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut (.A(command_c_1), .B(n15_adj_8), 
            .Z(result_c_0));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut.INIT = "0x4444";
    OB \result_pad[31]  (.I(flags_c), .O(result[31]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut (.A(srcB_c_28), 
            .B(command_c_0), .C(n1298), .D(n1086), .Z(n15_adj_28));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut.INIT = "0xb3a0";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_1 (.A(srcA_c_14), 
            .B(srcB_c_14), .C(command_c_2), .D(command_c_3), .Z(n1124));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_1.INIT = "0xa008";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i23_4_lut (.A(n15_adj_9), .B(n15_adj_25), 
            .C(n15_adj_30), .D(n15_adj_5), .Z(n1205));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i23_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_2 (.A(command_c_1), 
            .B(n15_adj_33), .Z(result_c_18));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_2.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_3 (.A(command_c_1), 
            .B(n15_adj_26), .Z(result_c_12));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_3.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_4 (.A(srcB_c_3), 
            .B(command_c_0), .C(n1298), .D(n1106), .Z(n15_adj_3));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_4.INIT = "0xb3a0";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_5 (.A(command_c_1), 
            .B(n15_adj_19), .Z(result_c_13));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_5.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_6 (.A(command_c_1), 
            .B(n15_adj_11), .Z(flags_c));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_6.INIT = "0x4444";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D)))+!A (B (C (D))))" *) LUT4 i1_4_lut_adj_7 (.A(srcB_c_23), 
            .B(n4_adj_22), .C(command_c_2), .D(command_c_3), .Z(n15_adj_5));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_7.INIT = "0xe008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_8 (.A(srcA_c_29), 
            .B(srcB_c_29), .C(command_c_2), .D(command_c_3), .Z(n1084));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_8.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_9 (.A(command_c_1), 
            .B(n15_adj_28), .Z(result_c_28));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_9.INIT = "0x4444";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut_adj_10 (.A(srcA_c_23), 
            .B(command_c_0), .Z(n4_adj_22));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_10.INIT = "0x2222";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_11 (.A(srcA_c_3), 
            .B(srcB_c_3), .C(command_c_2), .D(command_c_3), .Z(n1106));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_11.INIT = "0xa008";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i22_4_lut (.A(n15_adj_31), .B(n15), 
            .C(n15_adj_15), .D(n15_adj_18), .Z(n1203));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i22_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_12 (.A(srcA_c_1), 
            .B(srcB_c_1), .C(command_c_2), .D(command_c_3), .Z(n1122));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_12.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_13 (.A(command_c_1), 
            .B(n15_adj_4), .Z(result_c_2));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_13.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_14 (.A(srcB_c_18), 
            .B(command_c_0), .C(n1298), .D(n1112), .Z(n15_adj_33));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_14.INIT = "0xb3a0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i24_4_lut (.A(n15_adj_29), .B(n15_adj_3), 
            .C(n15_adj_19), .D(n15_adj_11), .Z(n1207));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i24_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_15 (.A(command_c_1), 
            .B(n15_adj_15), .Z(result_c_22));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_15.INIT = "0x4444";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D)))+!A (B (C (D))))" *) LUT4 i1_4_lut_adj_16 (.A(srcB_c_31), 
            .B(n4_adj_7), .C(command_c_2), .D(command_c_3), .Z(n15_adj_11));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_16.INIT = "0xe008";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_17 (.A(srcB_c_2), 
            .B(command_c_0), .C(n1298), .D(n1116), .Z(n15_adj_4));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_17.INIT = "0xb3a0";
    OB \result_pad[30]  (.I(result_c_30), .O(result[30]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[29]  (.I(result_c_29), .O(result[29]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[28]  (.I(result_c_28), .O(result[28]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[27]  (.I(result_c_27), .O(result[27]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[26]  (.I(result_c_26), .O(result[26]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[25]  (.I(result_c_25), .O(result[25]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[24]  (.I(result_c_24), .O(result[24]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[23]  (.I(result_c_23), .O(result[23]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[22]  (.I(result_c_22), .O(result[22]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[21]  (.I(result_c_21), .O(result[21]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[20]  (.I(result_c_20), .O(result[20]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[19]  (.I(result_c_19), .O(result[19]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[18]  (.I(result_c_18), .O(result[18]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[17]  (.I(result_c_17), .O(result[17]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[16]  (.I(result_c_16), .O(result[16]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[15]  (.I(result_c_15), .O(result[15]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[14]  (.I(result_c_14), .O(result[14]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[13]  (.I(result_c_13), .O(result[13]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[12]  (.I(result_c_12), .O(result[12]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[11]  (.I(result_c_11), .O(result[11]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[10]  (.I(result_c_10), .O(result[10]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[9]  (.I(result_c_9), .O(result[9]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[8]  (.I(result_c_8), .O(result[8]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[7]  (.I(result_c_7), .O(result[7]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[6]  (.I(result_c_6), .O(result[6]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[5]  (.I(result_c_5), .O(result[5]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[4]  (.I(result_c_4), .O(result[4]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[3]  (.I(result_c_3), .O(result[3]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[2]  (.I(result_c_2), .O(result[2]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[1]  (.I(result_c_1), .O(result[1]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \result_pad[0]  (.I(result_c_0), .O(result[0]));   /* synthesis lineinfo="@0(10[9],10[15])"*/
    OB \flags_pad[3]  (.I(flags_c), .O(flags[3]));   /* synthesis lineinfo="@0(11[9],11[14])"*/
    OB \flags_pad[2]  (.I(flags_c_2), .O(flags[2]));   /* synthesis lineinfo="@0(11[9],11[14])"*/
    OB \flags_pad[1]  (.I(GND_net), .O(flags[1]));   /* synthesis lineinfo="@0(11[9],11[14])"*/
    OB \flags_pad[0]  (.I(flags_c_0), .O(flags[0]));   /* synthesis lineinfo="@0(11[9],11[14])"*/
    IB \srcA_pad[31]  (.I(srcA[31]), .O(srcA_c_31));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[30]  (.I(srcA[30]), .O(srcA_c_30));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[29]  (.I(srcA[29]), .O(srcA_c_29));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[28]  (.I(srcA[28]), .O(srcA_c_28));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[27]  (.I(srcA[27]), .O(srcA_c_27));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[26]  (.I(srcA[26]), .O(srcA_c_26));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[25]  (.I(srcA[25]), .O(srcA_c_25));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[24]  (.I(srcA[24]), .O(srcA_c_24));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[23]  (.I(srcA[23]), .O(srcA_c_23));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[22]  (.I(srcA[22]), .O(srcA_c_22));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[21]  (.I(srcA[21]), .O(srcA_c_21));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[20]  (.I(srcA[20]), .O(srcA_c_20));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[19]  (.I(srcA[19]), .O(srcA_c_19));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[18]  (.I(srcA[18]), .O(srcA_c_18));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[17]  (.I(srcA[17]), .O(srcA_c_17));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[16]  (.I(srcA[16]), .O(srcA_c_16));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[15]  (.I(srcA[15]), .O(srcA_c_15));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[14]  (.I(srcA[14]), .O(srcA_c_14));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[13]  (.I(srcA[13]), .O(srcA_c_13));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[12]  (.I(srcA[12]), .O(srcA_c_12));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[11]  (.I(srcA[11]), .O(srcA_c_11));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[10]  (.I(srcA[10]), .O(srcA_c_10));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[9]  (.I(srcA[9]), .O(srcA_c_9));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[8]  (.I(srcA[8]), .O(srcA_c_8));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[7]  (.I(srcA[7]), .O(srcA_c_7));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[6]  (.I(srcA[6]), .O(srcA_c_6));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[5]  (.I(srcA[5]), .O(srcA_c_5));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[4]  (.I(srcA[4]), .O(srcA_c_4));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[3]  (.I(srcA[3]), .O(srcA_c_3));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[2]  (.I(srcA[2]), .O(srcA_c_2));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[1]  (.I(srcA[1]), .O(srcA_c_1));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcA_pad[0]  (.I(srcA[0]), .O(srcA_c_0));   /* synthesis lineinfo="@0(7[9],7[13])"*/
    IB \srcB_pad[31]  (.I(srcB[31]), .O(srcB_c_31));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[30]  (.I(srcB[30]), .O(srcB_c_30));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[29]  (.I(srcB[29]), .O(srcB_c_29));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[28]  (.I(srcB[28]), .O(srcB_c_28));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[27]  (.I(srcB[27]), .O(srcB_c_27));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[26]  (.I(srcB[26]), .O(srcB_c_26));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[25]  (.I(srcB[25]), .O(srcB_c_25));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[24]  (.I(srcB[24]), .O(srcB_c_24));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[23]  (.I(srcB[23]), .O(srcB_c_23));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[22]  (.I(srcB[22]), .O(srcB_c_22));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[21]  (.I(srcB[21]), .O(srcB_c_21));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[20]  (.I(srcB[20]), .O(srcB_c_20));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[19]  (.I(srcB[19]), .O(srcB_c_19));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[18]  (.I(srcB[18]), .O(srcB_c_18));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[17]  (.I(srcB[17]), .O(srcB_c_17));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[16]  (.I(srcB[16]), .O(srcB_c_16));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[15]  (.I(srcB[15]), .O(srcB_c_15));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[14]  (.I(srcB[14]), .O(srcB_c_14));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[13]  (.I(srcB[13]), .O(srcB_c_13));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[12]  (.I(srcB[12]), .O(srcB_c_12));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[11]  (.I(srcB[11]), .O(srcB_c_11));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[10]  (.I(srcB[10]), .O(srcB_c_10));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[9]  (.I(srcB[9]), .O(srcB_c_9));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[8]  (.I(srcB[8]), .O(srcB_c_8));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[7]  (.I(srcB[7]), .O(srcB_c_7));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[6]  (.I(srcB[6]), .O(srcB_c_6));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[5]  (.I(srcB[5]), .O(srcB_c_5));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[4]  (.I(srcB[4]), .O(srcB_c_4));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[3]  (.I(srcB[3]), .O(srcB_c_3));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[2]  (.I(srcB[2]), .O(srcB_c_2));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[1]  (.I(srcB[1]), .O(srcB_c_1));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \srcB_pad[0]  (.I(srcB[0]), .O(srcB_c_0));   /* synthesis lineinfo="@0(8[9],8[13])"*/
    IB \command_pad[3]  (.I(command[3]), .O(command_c_3));   /* synthesis lineinfo="@0(9[9],9[16])"*/
    IB \command_pad[2]  (.I(command[2]), .O(command_c_2));   /* synthesis lineinfo="@0(9[9],9[16])"*/
    IB \command_pad[1]  (.I(command[1]), .O(command_c_1));   /* synthesis lineinfo="@0(9[9],9[16])"*/
    IB \command_pad[0]  (.I(command[0]), .O(command_c_0));   /* synthesis lineinfo="@0(9[9],9[16])"*/
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut_adj_18 (.A(srcA_c_31), 
            .B(command_c_0), .Z(n4_adj_7));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_18.INIT = "0x2222";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_19 (.A(command_c_1), 
            .B(n15_adj_32), .Z(result_c_30));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_19.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_20 (.A(srcB_c_13), 
            .B(command_c_0), .C(n1298), .D(n1108), .Z(n15_adj_19));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_20.INIT = "0xb3a0";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_21 (.A(srcA_c_18), 
            .B(srcB_c_18), .C(command_c_2), .D(command_c_3), .Z(n1112));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_21.INIT = "0xa008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_22 (.A(srcA_c_2), 
            .B(srcB_c_2), .C(command_c_2), .D(command_c_3), .Z(n1116));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_22.INIT = "0xa008";
    (* lut_function="(!((B+!(C (D)))+!A))" *) LUT4 i4_4_lut (.A(n4_adj_21), 
            .B(command_c_3), .C(srcB_c_31), .D(n6), .Z(flags_c_0));   /* synthesis lineinfo="@0(22[14],22[76])"*/
    defparam i4_4_lut.INIT = "0x2000";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_23 (.A(srcA_c_28), 
            .B(srcB_c_28), .C(command_c_2), .D(command_c_3), .Z(n1086));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_23.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_24 (.A(command_c_1), 
            .B(n15_adj_13), .Z(result_c_26));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_24.INIT = "0x4444";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_25 (.A(srcA_c_22), 
            .B(srcB_c_22), .C(command_c_2), .D(command_c_3), .Z(n1072));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_25.INIT = "0xa008";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_26 (.A(srcB_c_29), 
            .B(command_c_0), .C(n1298), .D(n1084), .Z(n15_adj_29));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_26.INIT = "0xb3a0";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_27 (.A(srcB_c_8), 
            .B(command_c_0), .C(n1298), .D(n1080), .Z(n15_adj_16));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_27.INIT = "0xb3a0";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_28 (.A(srcA_c_27), 
            .B(srcB_c_27), .C(command_c_2), .D(command_c_3), .Z(n1110));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_28.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_29 (.A(command_c_1), 
            .B(n15_adj_10), .Z(result_c_1));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_29.INIT = "0x4444";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_30 (.A(srcA_c_8), 
            .B(srcB_c_8), .C(command_c_2), .D(command_c_3), .Z(n1080));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_30.INIT = "0xa008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_31 (.A(srcA_c_13), 
            .B(srcB_c_13), .C(command_c_2), .D(command_c_3), .Z(n1108));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_31.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_32 (.A(command_c_1), 
            .B(n15_adj_12), .Z(result_c_21));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_32.INIT = "0x4444";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_33 (.A(srcA_c_17), 
            .B(srcB_c_17), .C(command_c_2), .D(command_c_3), .Z(n1114));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_33.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_34 (.A(command_c_1), 
            .B(n15_adj_35), .Z(result_c_16));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_34.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_35 (.A(command_c_1), 
            .B(n15_adj_24), .Z(result_c_7));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_35.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_36 (.A(command_c_1), 
            .B(n15_adj_34), .Z(result_c_17));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_36.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_37 (.A(srcB_c_26), 
            .B(command_c_0), .C(n1298), .D(n1102), .Z(n15_adj_13));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_37.INIT = "0xb3a0";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_38 (.A(command_c_1), 
            .B(n15_adj_23), .Z(result_c_27));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_38.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_39 (.A(srcB_c_21), 
            .B(command_c_0), .C(n1298), .D(n1076), .Z(n15_adj_12));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_39.INIT = "0xb3a0";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_40 (.A(srcB_c_7), 
            .B(command_c_0), .C(n1298), .D(n1094), .Z(n15_adj_24));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_40.INIT = "0xb3a0";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_41 (.A(srcB_c_16), 
            .B(command_c_0), .C(n1298), .D(n1118), .Z(n15_adj_35));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_41.INIT = "0xb3a0";
    (* lut_function="(A (B))" *) LUT4 i1_rep_121_2_lut (.A(command_c_2), .B(command_c_3), 
            .Z(n1298));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_rep_121_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_42 (.A(srcB_c_22), 
            .B(command_c_0), .C(n1298), .D(n1072), .Z(n15_adj_15));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_42.INIT = "0xb3a0";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_43 (.A(srcA_c_26), 
            .B(srcB_c_26), .C(command_c_2), .D(command_c_3), .Z(n1102));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_43.INIT = "0xa008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_44 (.A(srcA_c_7), 
            .B(srcB_c_7), .C(command_c_2), .D(command_c_3), .Z(n1094));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_44.INIT = "0xa008";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_45 (.A(srcB_c_30), 
            .B(command_c_0), .C(n1298), .D(n1082), .Z(n15_adj_32));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_45.INIT = "0xb3a0";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_46 (.A(srcA_c_21), 
            .B(srcB_c_21), .C(command_c_2), .D(command_c_3), .Z(n1076));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_46.INIT = "0xa008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_47 (.A(srcA_c_16), 
            .B(srcB_c_16), .C(command_c_2), .D(command_c_3), .Z(n1118));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_47.INIT = "0xa008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D)))+!A (B (C (D))))" *) LUT4 i1_4_lut_adj_48 (.A(srcB_c_12), 
            .B(n4), .C(command_c_2), .D(command_c_3), .Z(n15_adj_26));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_48.INIT = "0xe008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_49 (.A(srcA_c_30), 
            .B(srcB_c_30), .C(command_c_2), .D(command_c_3), .Z(n1082));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_49.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_50 (.A(command_c_1), 
            .B(n15_adj_18), .Z(result_c_6));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_50.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_51 (.A(command_c_1), 
            .B(n15_adj_36), .Z(result_c_25));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_51.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_52 (.A(command_c_1), 
            .B(n15_adj_30), .Z(result_c_20));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_52.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_53 (.A(command_c_1), 
            .B(n15_adj_25), .Z(result_c_15));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_53.INIT = "0x4444";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut_adj_54 (.A(srcA_c_12), 
            .B(command_c_0), .Z(n4));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_54.INIT = "0x2222";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_55 (.A(srcB_c_1), 
            .B(command_c_0), .C(n1298), .D(n1122), .Z(n15_adj_10));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_55.INIT = "0xb3a0";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_56 (.A(command_c_1), 
            .B(n15_adj_29), .Z(result_c_29));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_56.INIT = "0x4444";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_2_lut_3_lut (.A(command_c_0), 
            .B(command_c_1), .C(command_c_2), .Z(n4_adj_21));
    defparam i1_2_lut_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_57 (.A(srcB_c_0), 
            .B(command_c_0), .C(n1298), .D(n1074), .Z(n15_adj_8));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_57.INIT = "0xb3a0";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_58 (.A(srcB_c_6), 
            .B(command_c_0), .C(n1298), .D(n1098), .Z(n15_adj_18));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_58.INIT = "0xb3a0";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_59 (.A(srcB_c_25), 
            .B(command_c_0), .C(n1298), .D(n1096), .Z(n15_adj_36));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_59.INIT = "0xb3a0";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_60 (.A(command_c_1), 
            .B(n15_adj_17), .Z(result_c_11));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_60.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_61 (.A(srcB_c_11), 
            .B(command_c_0), .C(n1298), .D(n1100), .Z(n15_adj_17));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_61.INIT = "0xb3a0";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_62 (.A(srcA_c_6), 
            .B(srcB_c_6), .C(command_c_2), .D(command_c_3), .Z(n1098));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_62.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_63 (.A(command_c_1), 
            .B(n15), .Z(result_c_5));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_63.INIT = "0x4444";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_64 (.A(srcA_c_0), 
            .B(srcB_c_0), .C(command_c_2), .D(command_c_3), .Z(n1074));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_64.INIT = "0xa008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_65 (.A(srcA_c_25), 
            .B(srcB_c_25), .C(command_c_2), .D(command_c_3), .Z(n1096));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_65.INIT = "0xa008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D)))+!A (B (C (D))))" *) LUT4 i1_4_lut_adj_66 (.A(srcB_c_20), 
            .B(n4_adj_27), .C(command_c_2), .D(command_c_3), .Z(n15_adj_30));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_66.INIT = "0xe008";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_67 (.A(srcB_c_15), 
            .B(command_c_0), .C(n1298), .D(n1120), .Z(n15_adj_25));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_67.INIT = "0xb3a0";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut_adj_68 (.A(srcA_c_20), 
            .B(command_c_0), .Z(n4_adj_27));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_68.INIT = "0x2222";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_69 (.A(srcA_c_11), 
            .B(srcB_c_11), .C(command_c_2), .D(command_c_3), .Z(n1100));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_69.INIT = "0xa008";
    (* lut_function="(A+!(B+(C)))" *) LUT4 i1074_3_lut (.A(command_c_1), .B(n1217), 
            .C(n1219), .Z(flags_c_2));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i1074_3_lut.INIT = "0xabab";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_70 (.A(command_c_1), 
            .B(n15_adj_9), .Z(result_c_10));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_70.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_71 (.A(srcB_c_5), 
            .B(command_c_0), .C(n1298), .D(n1104), .Z(n15));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_71.INIT = "0xb3a0";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_72 (.A(srcB_c_10), 
            .B(command_c_0), .C(n1298), .D(n1088), .Z(n15_adj_9));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_72.INIT = "0xb3a0";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_73 (.A(srcA_c_5), 
            .B(srcB_c_5), .C(command_c_2), .D(command_c_3), .Z(n1104));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_73.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_74 (.A(command_c_1), 
            .B(n15_adj_1), .Z(result_c_24));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_74.INIT = "0x4444";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_75 (.A(srcA_c_15), 
            .B(srcB_c_15), .C(command_c_2), .D(command_c_3), .Z(n1120));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_75.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_76 (.A(command_c_1), 
            .B(n15_adj_2), .Z(result_c_4));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_76.INIT = "0x4444";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i29_4_lut (.A(n1193), .B(n1197), 
            .C(n1195), .D(n1199), .Z(n1217));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i29_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i30_4_lut (.A(n1201), .B(n1205), 
            .C(n1203), .D(n1207), .Z(n1219));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i30_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_77 (.A(command_c_1), 
            .B(n15_adj_31), .Z(result_c_19));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_77.INIT = "0x4444";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+!(D))+!B !(C (D)))))" *) LUT4 i1_4_lut_4_lut (.A(command_c_0), 
            .B(command_c_1), .C(command_c_2), .D(srcA_c_31), .Z(n6));
    defparam i1_4_lut_4_lut.INIT = "0x1c00";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_78 (.A(srcA_c_10), 
            .B(srcB_c_10), .C(command_c_2), .D(command_c_3), .Z(n1088));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_78.INIT = "0xa008";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_79 (.A(command_c_1), 
            .B(n15_adj_20), .Z(result_c_14));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_79.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_80 (.A(command_c_1), 
            .B(n15_adj_6), .Z(result_c_9));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_80.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_81 (.A(srcB_c_4), 
            .B(command_c_0), .C(n1298), .D(n1092), .Z(n15_adj_2));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_81.INIT = "0xb3a0";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_82 (.A(srcB_c_9), 
            .B(command_c_0), .C(n1298), .D(n1078), .Z(n15_adj_6));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_82.INIT = "0xb3a0";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_83 (.A(srcB_c_24), 
            .B(command_c_0), .C(n1298), .D(n1090), .Z(n15_adj_1));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_83.INIT = "0xb3a0";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_84 (.A(srcA_c_9), 
            .B(srcB_c_9), .C(command_c_2), .D(command_c_3), .Z(n1078));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_84.INIT = "0xa008";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i17_4_lut (.A(n15_adj_8), .B(n15_adj_33), 
            .C(n15_adj_28), .D(n15_adj_4), .Z(n1193));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i17_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i19_4_lut (.A(n15_adj_36), .B(n15_adj_6), 
            .C(n15_adj_13), .D(n15_adj_26), .Z(n1197));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i19_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_85 (.A(srcA_c_4), 
            .B(srcB_c_4), .C(command_c_2), .D(command_c_3), .Z(n1092));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_85.INIT = "0xa008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D)))+!A (B (C (D))))" *) LUT4 i1_4_lut_adj_86 (.A(srcB_c_19), 
            .B(n4_adj_14), .C(command_c_2), .D(command_c_3), .Z(n15_adj_31));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_86.INIT = "0xe008";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D))))" *) LUT4 i1_4_lut_adj_87 (.A(srcA_c_24), 
            .B(srcB_c_24), .C(command_c_2), .D(command_c_3), .Z(n1090));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_87.INIT = "0xa008";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut_adj_88 (.A(srcA_c_19), 
            .B(command_c_0), .Z(n4_adj_14));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_88.INIT = "0x2222";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i18_4_lut (.A(n15_adj_16), .B(n15_adj_17), 
            .C(n15_adj_35), .D(n15_adj_12), .Z(n1195));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i18_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_89 (.A(command_c_1), 
            .B(n15_adj_3), .Z(result_c_3));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_89.INIT = "0x4444";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i20_4_lut (.A(n15_adj_34), .B(n15_adj_10), 
            .C(n15_adj_1), .D(n15_adj_2), .Z(n1199));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i20_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_90 (.A(command_c_1), 
            .B(n15_adj_16), .Z(result_c_8));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_90.INIT = "0x4444";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_91 (.A(srcB_c_14), 
            .B(command_c_0), .C(n1298), .D(n1124), .Z(n15_adj_20));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_91.INIT = "0xb3a0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i21_4_lut (.A(n15_adj_23), .B(n15_adj_24), 
            .C(n15_adj_32), .D(n15_adj_20), .Z(n1201));   /* synthesis lineinfo="@0(21[24],21[39])"*/
    defparam i21_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_92 (.A(srcB_c_17), 
            .B(command_c_0), .C(n1298), .D(n1114), .Z(n15_adj_34));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_92.INIT = "0xb3a0";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))" *) LUT4 i1_4_lut_adj_93 (.A(srcB_c_27), 
            .B(command_c_0), .C(n1298), .D(n1110), .Z(n15_adj_23));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_4_lut_adj_93.INIT = "0xb3a0";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_94 (.A(command_c_1), 
            .B(n15_adj_5), .Z(result_c_23));   /* synthesis lineinfo="@0(26[2],44[11])"*/
    defparam i1_2_lut_adj_94.INIT = "0x4444";
    VHI i1076 (.Z(VCC_net));
    
endmodule
